[submodule "software/src/lib/lufa"]
	path = software/src/lib/lufa
	url = https://github.com/abcminiuser/lufa.git
[submodule "software/src/xboot"]
	path = software/src/lib/xboot
	url = https://github.com/thefork/xboot.git
